<!DOCTYPE html>
<html lang="en">

<%- include('components/head-home')%>

<body>
  <div id="home" class="content">

    <header>
      <a href="/">
        <img src="/assets/images/logo.svg" alt="Rocket.Q Logo" />
      </a>
    </header>

    <div id="bg">
      <div class="ball top"></div>
      <div class="ball bottom"></div>
    </div>

    <main>
      <div class="container">
        <%- include(`components/${page}`) %>
      </div>
  </div>
  </main>
</body>

</html>
