<!DOCTYPE html>
<html lang="en">

<%- include('components/head-room') %>

<body>
  <div id="room" class="content">

    <header>
      <a href="/">
        <img src="/assets/images/logo.svg" alt="Rocket.Q Logo" />
      </a>

      <div class="buttons">
        <div class="button outlined" id="room-id" data-id="<%= roomId %>">
          #<%= roomId %>
          <img src="/assets/images/clipboard.svg" alt="Copiar número da sala">
        </div>
        <a href="#" class="button">
          <img src="/assets/images/users-white.svg" alt="Criar uma nova sala">
          Cria uma nova sala
        </a>
      </div>
    </header>

    <main>
      <section id="question-form">
        <h2>Faça sua pergunta</h2>
        <form action="">
          <label for="question" class="sr-only">O que você quer perguntar?</label>
          <textarea name="question" id="question" cols="30" rows="10"
            placeholder="O que você quer perguntar?"></textarea>

          <footer>
            <div>
              <img src="/assets/images/lock.svg" alt="Cadeado">
              Esta pergunta é anônima
            </div>
            <button type="submit">Enviar</button>
          </footer>
        </form>
      </section>

      <section id="questions">
        <h2 class="sr-only">Perguntas da comunidade</h2>
        <div class="questions">
          <div class="question-wrapper">
            <div class="question-content">
              <div class="user">
                <img src="/assets/images/user.svg" alt="Avatar">
              </div>
              <div class="question">
                <p>O que é um framework?</p>
              </div>
            </div>
            <div class="actions">
              <a href="#" class="check" data-id="3">
                <img src="/assets/images/check.svg" alt="Marcar como lida">
                Marcar como lida
              </a>
              <a href="#" class="delete" data-id="3">
                <img src="/assets/images/trash.svg" alt="Exluir">
                Excluir
              </a>
            </div>
          </div>

          <div class="question-wrapper read">
            <div class="question-content">
              <div class="user">
                <img src="/assets/images/user.svg" alt="Avatar">
              </div>
              <div class="question">
                <p>O que é NodeJS?</p>
              </div>
            </div>
            <div class="actions">
              <a href="#" class="delete" data-id="1">
                <img src="/assets/images/trash.svg" alt="Exluir">
                Excluir
              </a>
            </div>
          </div>

          <div class="question-wrapper">
            <div class="question-content">
              <div class="user">
                <img src="/assets/images/user.svg" alt="Avatar">
              </div>
              <div class="question">
                <p>Java é a mesma coisa que Javascript?</p>
              </div>
            </div>
            <div class="actions">
              <a href="#" class="check" data-id="2">
                <img src="/assets/images/check.svg" alt="Marcar como lida">
                Marcar como lida
              </a>
              <a href="#" class="delete" data-id="2">
                <img src="/assets/images/trash.svg" alt="Exluir">
                Excluir
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>

  <div class="modal-wrapper">
    <div class="modal">
      <h2></h2>
      <p></p>
      <form action="">
        <label for="password" class="sr-only">Digite sua senha de administrador</label>
        <input type="password" name="password" placeholder="Digite sua senha">

        <div class="buttons">
          <div id="cancel" class="button gray">Cancelar</div>
          <button class="red" type="submit">Sim, excluir</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
